---
const personaImgAlt = "Mauricio Ramirez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
    <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
        <p>
            Me llamo Andres Mauricio Ramirez Medina, Soy de Colombia, pero resido en Argentina. He finalizado mis
            estudios como Desarrollador Web y continúo en constante aprendizaje. <strong>Me encanta
            enfocarme en el rendimiento y la accesibilidad para ofrecer una mejor
            experiencia al usuario</strong>.
        </p>
        
        <p>
            En mis estudios como Desarrollador Web, <strong>destaco que siempre me gustó poder
            ayudar a mis compañeros para compartir mis conocimientos y, al mismo tiempo,
            enriquecerme del conocimiento de mis compañeros</strong>. Para mí, una de las mejores
            maneras de aprender es poder explicar ese conocimiento a otra persona y
            recibir a cambio su perspectiva y entendimiento.
        </p>
        
        <p>
            <strong>Me gusta mantenerme constantemente actualizado sobre las noticias y novedades
            en el ámbito del desarrollo web</strong>, ya sea leyendo artículos o consumiendo
            contenido relacionado con esta área.
        </p>
    </div>
    <img src="/images/me-porfolio.webp" class="rounded-full size-64 order-1 md:order-2" alt={personaImgAlt}>
</article>
